<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
h2{
  margin: 30px;
  text-align: center;
}
</style>
</head>
<body>

<h2>Student List</h2>

<table>
  <tr>
    <th>Student Name</th>
    <th>Attendance</th>
    <th>Email</th>
    <th>Address</th>
    <th>Created By</th>
  </tr>
  <tr>
    <td>Krishna Pandey</td>
    <th>Present</th>
    <td>krishna@gmail.com</td>
    <td>Bihar</td>
    <td>HR</td>
  </tr>
  <tr>
    <td>Vivek Singh</td>
    <th>Present</th>
    <td>vivek@gmail.com</td>
    <td>Uttrakhand</td>
    <td>HR</td>
  </tr>
  <tr>
    <td>Yasir Ali</td>
    <th>Present</th>
    <td>yasir@gmail.com</td>
    <td>Rampur</td>
    <td>HR</td>
  </tr>
  <tr>
    <td>Harshit Sharma</td>
    <th>Present</th>
    <td>Harshit@gmail.com</td>
    <td>Delhi</td>
    <td>HR</td> 
</tr>
  <tr>
    <td>Kashish Sethi</td>
    <th>Present</th>
    <td>kashish@gmail.com</td>
    <td>Delhi</td>
    <td>HR</td>
  </tr>
  <tr>
    <td>Simran</td>
<th>Attendance</th>
    <td>simran@gmail.com</td>
    <td>Himachal Pradesh</td>
    <td>HR</td>
    </tr>
</table>

</body>
</html>