<html>
<head>
<style>
h2{
   border: 20px soild powderblue;
   margin: 30px;
}
.login-show {
text-align: center;
}

input {
margin-bottom: 20px;
}
</style>


<title>Login</title>

<body>
    <div id="login-row" class="row justify-content-center align-items-center">
    <div class="white-panel">
    <div class="login-show">
    <h2>LOGIN</h2>
    <form action="http://localhost:9000/login" method="POST">
    <input type = "email" placeholder="Email" name="emailId" type="email" style="font-family:verdana; font-size:100%; "><br>

  
    <input type="password" id="password" name="password" placeholder="password" type="checkbox" style="font-family:verdana; font-size:100%; "><br>
    <input type="submit" value="SignIn">
    <input type="button" value="Signup"><br>
    

</div>
</div>
</div>				
</body>
</head>
</html>

  
