<html>
<head>
<style>
.registration-show {
	text-align: center;
}

input {
     margin-bottom: 20px;
}

</style>
<body>
<div class="register-row" class="row justify-content-center align-items-center">
	<div class="registration-show">
	<h2>REGISTRATION PAGE</h2>
        <form action="http://localhost:9000/save" method="POST">
        <input type="text" placeholder="firstName" name="firstName" id="firstName" style="font-family:verdana;"><br>
	<input type="text" placeholder="middleName" name="middleName" id="middleName" style="font-family:verdana;"><br>
	<input type="text" placeholder="lastName" name="lastName" id="lastName" style="font-family:verdana;"><br>
	<input type="text" placeholder="emailId" name="emailId" id="emailId" style="font-family:verdana;"><br>
	<input type="password" placeholder="password" name="password" id="password" style="font-family:verdana;"><br>
	<input type="submit" value="Register" style="font-family:verdana;"><br>
        </form>
</body>
</head>
</html>