<Html>     
<Head>     
<style>
.login-show {
text-align: center;
border: 1px solid;
display: 
}

input {
margin-bottom: 20px;
}

</style>
<Title>     
Create the Text Box  
</Title>  
</Head>


<Body> 
<div style="background: ghostwhite; 
            font-size: 20px; 
            padding: 20px; 
            border: 1px solid lightgray; 
            margin: 80px;
	    text-align: center;">
  User Dashboard



</div>   
<form>  

  
 
<div class="login-show">
<input type="submit"  value = "Check-In"><br>
<input type="text" type="time"><br>
<input type="submit" value = "Check-Out"><br>
<input type="text" type="time">

</div>
</form>  
</Body>  

</Html>  